{% if shop.customer_accounts_enabled %}
  {% if customer  %}
    <li id="customer-links"><a href="/account">Your Account</a></li>
  {% else %}
    <li id="customer-links">
      {{ 'Log in' | customer_login_link }}
      {% if shop.customer_accounts_optional %}
      <span class="or">or</span>
      {{ 'Create an account' | customer_register_link }}
      {% endif %}
    </li>
  {% endif %}
{% endif %}