<ul class='big-nav-content span12'>
  {% for link in linklists.main-menu.links %}
    {% if linklists[link.handle] == empty %}
      <li class="{% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
      <a href="{{ link.url }}" class="{%if link.active%}current{%endif%}">
      <span>{{ link.title }}</span></a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
